<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="registerModalLabel">GIT PUMPED</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group" id="registerNameFormGroup">
            <label for="register-name" class="control-label">Name:</label>
            <input type="text" class="form-control" id="register-name" placeholder="Ford Tran">
          </div>
          <div class="form-group">
            <label for="register-email" class="control-label">Email:</label>
            <input type='text' class="form-control" id="register-email" placeholder="swagoverflowerror@caltech.edu"></input>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-tech">Awesome!</button>
      </div>
    </div>
  </div>
</div>