<!DOCTYPE html>
<html>
  <head>
    <title>Hacktech</title>
    <meta charset="UTF-8">
    <meta name="description" content="Hacktech 2015 Feb. 27 - Mar. 1">
    <meta name="keywords" content="hacktech, caltech, hackathon">

    <%- include partials/headerFiles.ejs %>


  </head>
  <body>
    <!-- <div id="thang"> -->
<!--     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div id="navContainer" class="container">

        <a>Hacktech</a>

        <a href="/team">
        <div class="nav-element">
          <img class="svg nav-icon" src="/img/nav_gear2.png">
        </div>
        </a>
        <a href="/startup">
        <div class="nav-element">        
          <img class="svg nav-icon" src="/img/nav_plant2.png">
        </div>
        </a>
        <a>
        <div class="nav-element">        
          <img class="svg nav-icon" src="/img/nav_hs2.png">
        </div>
        </a>
        <a>
        <div class="nav-element">        
          <img class="svg nav-icon" src="/img/nav_micro2.png">
        </div>
        </a>
        <a>
        <div class="nav-element">        
          <img class="svg nav-icon" src="/img/nav_chem2.png">
        </div>
        </a>

        <a>

        Contact us
        </a>


      </div>
    </nav> -->
    <!-- </div> -->

  	<div id="homeSlide" class="slide">
	  	<div id="homeContent" class="container">
        
          <img id="homeLogo" src="img/hacktechlogo7.png">
          
          <div id="homeWords">
            <h1 style="font-size:39px;">HACKIEST PLACE ON EARTH</h1>
            <h3>FEB 27 - MAR 1, 2015, ANAHEIM CONVENTION CENTER</h3>

            <%- include partials/notifyModal.ejs %>

          </div>
          <form  id="registerForm" action="/register">
            <button id="registerButton" class="btn btn-tech">REGISTER</button>
          </form>

          <!-- <a href="mailto:contact@hacktech.io" target="_top">Contact us!</a> -->
        

        </div>
          <img id="homeBanner" src="img/banner_orange.png">


    </div>

    
    <div id="whatSlide" class="slide">
      <div class="container" id="whatContent">
        <h1 class="slide-title">WHAT IS HACKTECH?</h1>
  
            <p style="padding: 10px 15px 20px 15px;">
              Hacktech is <b>Caltech</b>'s premier hackathon. For 36 thrilling hours, thousands of students from across the country will assemble with one goal in mind: build the coolest thing the world has ever seen.
            </p>
            <p style="font-size:24px; margin-top: 10px;"><b>Ready? Get Hacking.</b></p>

      </div>
    </div>

    
    <div id="placeSlide" class="slide">
      <div class="container" id="placeContainer">
        <div class="place-stat">
          <img src="img/time_statistic2.png">
          <h2>36 HOURS</h2>
        </div><!-- These comments are essential to remove space between divs. Its gross, I know.
        --><div class="place-stat">
        <!-- Pic from simpleicon.com -->
          <a href="https://goo.gl/maps/nQ4lQ" target="_blank"><img src="img/map_statistic.png"></a>
          <h2>ANAHEIM CONVENTION CENTER</h2>
        </div><!-- Such spacing. Much fancy
        --><div class="place-stat">
          <img src="img/people_statistic.png">
          <h2>2500+ HACKERS</h2>
        </div>
        <h1 style="text-align: center;">DID WE MENTION IT'S ACROSS THE STREET FROM DISNEYLAND?</h1>
      </div>
    </div>


    <div id="faqSlide" class="slide">
      <div class="container" id="faqContainer">
        <h1 id="faqTitle" class="slide-title">FAQ</h1>
        
        <div class="row">
          <div class="faqModule col-md-4">
            <div class="faqQuest">
              What is a <a href="https://medium.com/hackathons-anonymous/wtf-is-a-hackathon-92668579601">hackathon</a>?
            </div>
            <div class="faqAnswer">
              A hackathon is a place where the only thing limiting what you build is your own creativity. Stay up for 48 hours with the smartest people you'll ever meet, building the coolest things you have created and chugging more Red Bull than you ever thought possible.
            </div>
          </div>
          <div class="faqModule col-md-4">
            <div class="faqQuest">
              What should I create?
            </div>
            <div class="faqAnswer">
              You can build whatever you want: websites, apps, or hardware (no soldering allowed). All code must be written during the hackathon - feel free to use open source libraries and APIs. Hacks are judged on creativity, technical difficulty, usefulness, and overall awesomeness.
            </div>
          </div>
          <div class="faqModule col-md-4">
            <div class="faqQuest">
              Who can come?
            </div>
            <div class="faqAnswer">
              Any undergraduate or graduate students. We also admit high school students on a case-by-case basis.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="faqModule col-md-4">
            <div class="faqQuest">
              Do I have to apply or just register?
            </div>
            <div class="faqAnswer">
              Anyone can come to hackTECH! However, there is an application process for awarding travel reimbursements. If you're out-of-state and want up to $200 travel reimbursed, apply here.
            </div>
          </div>
          <div class="faqModule col-md-4">
            <div class="faqQuest">
              What should I bring?
            </div>
            <div class="faqAnswer">
              You, an idea, photo ID, your hacking setup, clothes, toiletries, and a sleeping bag (for the weak).
            </div>
          </div>
          <div class="faqModule col-md-4">
            <div class="faqQuest">
              Do I sign up as a team or individual?
            </div>
            <div class="faqAnswer">
              You can sign up as a team of up to four members or as an individual. If you're an individual looking for team members, you will find tons of other smart people at the event to form a team.
            </div>
          </div>
        </div>

        <div id="faq-space">
          <button id="faqMoreBtn" class="btn btn-invert faq-btn">More</button>
          <button id="faqLessBtn" class="btn btn-invert faq-btn" style="display: none;">Less</button>
        </div>

        <div class="faq-more">
        <div class="row">
          <div class="faqModule col-md-4">
            <div class="faqQuest">
              When does the event end?
            </div>
            <div class="faqAnswer">
              The final awards and closing ceremony will end at 4pm on Sunday, March 1st. Shuttles to LAX will be available from 9am to 9pm on Sunday.
            </div>
          </div>
          <div class="faqModule col-md-4">
            <div class="faqQuest">
              When should I arrive at the venue?
            </div>
            <div class="faqAnswer">
              The opening ceremony starts at 9pm on Friday, February 27th. Be sure to find a place to stay if you plan on arriving before February 27th! There are plenty of cool places to check out if you get to LA early.
            </div>
          </div>
          <div class="faqModule col-md-4">
            <div class="faqQuest">
              What if I'm from out-of-state and don't get chosen for a travel reimbursement?
            </div>
            <div class="faqAnswer">
              We would still love to have you! You can still register and hack. The only difference is that we won't cover any of your travel expenses.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="faqModule col-md-4">
            <div class="faqQuest">
              How does the application process work for travel reimbursements?
            </div>
            <div class="faqAnswer">
              We are using rolling admission, so get your applications in early. Applications for travel reimbursements are due February 5th. Don't worry if you haven't heard back about reimbursements yet! We're waiting on RSVPs from our first round of reimbursements and will be sending more out later.
            </div>
          </div>
          <div class="faqModule col-md-4">
            <div class="faqQuest">
              I live in Northern California. How do I get to the event?
            </div>
            <div class="faqAnswer">
              We will provide buses free of charge to the first 500 applicants from Northern California that say they need a bus on their registration. You can catch our buses at Berkeley or Stanford at 3:00pm on Friday, February 27th. We'll drop you off at Stanford or Berkeley at 10:00pm on Sunday. More details to come.
            </div>
          </div>
          <div class="faqModule col-md-4">
            <div class="faqQuest">
              What if I'm flying from out of state?
            </div>
            <div class="faqAnswer">
              We will provide free shuttles at LAX throughout Friday afternoon that will bring you directly to the venue and Sunday afternoon to take you back to the airport. More details to come.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="faqModule col-md-4">
            <div class="faqQuest">
              How does reimbursement work?
            </div>
            <div class="faqAnswer">
              At the event, we will distribute reimbursement forms to individuals selected for $200 reimbursements. Following the event, we will do a direct transfer to your account.
            </div>
          </div>
          <div class="faqModule col-md-4">
            <div class="faqQuest">
              How are hacks presented?
            </div>
            <div class="faqAnswer">
              On Sunday at 12:00pm, all hackers will be able to demo their hacks to sponsors and their fellow hackers. Fifteen hacks will be selected based on submitted videos, and these teams/individuals will present their hacks to everyone for two minutes.
            </div>
          </div>
          <div class="faqModule col-md-4">
            <div class="faqQuest">
              What other rules should I be aware of?
            </div>
            <div class="faqAnswer">
              We're glad you asked! Alcohol is forbidden. Also, no soldering irons, open flames, or anything else you couldn't safely use in a stadium ( ask us if in doubt). No weapons, firearms, etc.
            </div>
          </div>
        </div>
        </div> <!-- faq-more -->
      </div>
    </div>
    

    <div id="logisticSlide" class="slide">
      <div class="container" id="logisticContainer">
        <h1 class="slide-title">@ HACK</h1>
        <a href="/docs/OLD_schedule.pdf" target="_blank">
          <div class="at-element at-element-color">
            <img class="svg at-icon" src="/img/at_icon_schedule2.svg">
            <p><b>SCHEDULE</b></p>
          </div>
        </a>

        <a href="/docs/OLD_arrival.pdf" target="_blank">
          <div class="at-element at-element-color">
            <img class="svg at-icon" src="/img/at_icon_arrival.svg">
            <p><b>ARRIVAL</b></p>
          </div>
        </a>

        <a href="/docs/OLD_bus.pdf" target="_blank">        
          <div class="at-element at-element-color">
            <img class="svg at-icon" src="/img/at_icon_bus2.svg">
            <p><b>BUSES</b></p>
          </div>
        </a>
        
        <a href="/docs/OLD_judge.pdf" target="_blank">
          <div class="at-element at-element-color">
            <img class="svg at-icon" src="/img/at_icon_judge2.svg">
            <p><b>JUDGES</b></p>
        </div>
        </a>

        <a href="/docs/OLD_map.pdf" target="_blank">
          <div class="at-element at-element-color">
            <img class="svg at-icon" src="/img/at_icon_map.svg">
            <p><b>MAP</b></p>
          </div>
        </a>
        
      </div>
    </div>

    <div id="famousSlide" class="slide">
      <div class="container" id="famousContainer">
        <h1 class="slide-title">PAST ATTENDEES</h1>
        <div class="row">
  
          <div class="famous-element">
            <div class="famous-porthole">
              <div class="famous-portrait" id="famousSpiegel"></div>
              <div class="famous-thing" id="famousSnapchat"></div>
            </div>
            <div class="famous-words">
              <h4>Evan Spiegel</h4>
              <h5>Co-founder of Snapchat</h5>
            </div>
          </div>
          
          <div class="famous-element">
            <div class="famous-porthole">
              <div class="famous-portrait" id="famousGlover"></div>
              <div class="famous-thing" id="famousCamp"></div>
            </div>
            <div class="famous-words">
              <h4 style="font-size:22px;">Donald Glover</h4>
              <h4 style="font-size:22px;">Childish Gambino</h4>
              <h5>Rapper</h5>
            </div>
          </div>

          <div class="famous-element">
            <div class="famous-porthole">
              <div class="famous-portrait" id="famousOhanian"></div>
              <div class="famous-thing" id="famousReddit"></div>
            </div>
            <div class="famous-words">
              <h4>Alexis Ohanian</h4>
              <h5>Co-founder of Reddit</h5>
            </div>
          </div>
        </div>
  
        <div class="row">
  
          <div class="famous-element">
            <div class="famous-porthole">
              <div class="famous-portrait" id="famousDupri"></div>
              <div class="famous-thing" id="famousSosodef"></div>
            </div>
            <div class="famous-words">
              <h4>Jermaine Dupri</h4>
              <h5>Producer</h5>
            </div>
          </div>

          <div class="famous-element">
            <div class="famous-porthole">
              <div class="famous-portrait" id="famousRad"></div>
              <div class="famous-thing" id="famousTinder"></div>
            </div>
            <div class="famous-words">
              <h4>Sean Rad</h4>
              <h5>Co-founder of Tinder</h5>
            </div>
          </div>
          
          <div class="famous-element">
            <div class="famous-porthole">
              <div class="famous-portrait" id="famousHeyward"></div>
              <div class="famous-thing" id="famousWhisper"></div>
            </div>
            <div class="famous-words">
              <h4>Michael Heyward</h4>
              <h5>Co-founder of Whisper</h5>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div id="sponsorSlide" class="slide">
      <div class="container" id="sponsorContainer">
        <h1 id="sponsorTitle" class="slide-title">PAST SPONSORS</h1>
        <h2 id="sponsorHeader">Want to sponsor us? Send us an <a id="sponsorMail" href="mailto:contact@hacktech.io" target="_top"><b>Email!</b></a></h2>

        <div class="row sponsor-row sponsor-4">
          <a><img src="/img/sponsors/a16z.png"></a>
          <a><img src="/img/sponsors/advantest.png"></a>
          <a><img src="/img/sponsors/alp.jpg"></a>        
          <a><img src="/img/sponsors/apigee.png"></a>
        </div>

        <div class="row sponsor-row sponsor-4">
          <a><img src="/img/sponsors/aws.png"></a>
          <a><img src="/img/sponsors/bloomberg.jpg"></a>
          <a><img src="/img/sponsors/bruin_entrepreneurs.jpg"></a>
          <a><img src="/img/sponsors/caltech_fund.png"></a>
        </div>
        
        <div class="row sponsor-row sponsor-4">
          <a><img src="/img/sponsors/cisco.png"></a>
          <a><img src="/img/sponsors/cloudera.png"></a>
          <a><img src="/img/sponsors/cyberverse.jpg"></a>
          <a><img src="/img/sponsors/digitalocean.png"></a>
        </div>

        <div class="row sponsor-row sponsor-4">
          <a><img src="/img/sponsors/directv.jpg"></a>
          <a><img src="/img/sponsors/dropbox.png"></a>
          <a><img src="/img/sponsors/ebay.png"></a>
          <a><img src="/img/sponsors/EMC.png"></a>
        </div>

        <div class="row sponsor-row sponsor-4">
          <a><img src="/img/sponsors/firebase.png"></a>
          <a><img src="/img/sponsors/fitbit.png"></a>
          <a><img src="/img/sponsors/google.png"></a>
          <a><img src="/img/sponsors/lithium.png"></a>
        </div>

        <div class="row sponsor-row sponsor-4">
          <a><img src="/img/sponsors/lob.png"></a>
          <a><img src="/img/sponsors/mashery.jpg"></a>
          <a><img src="/img/sponsors/microsoft.jpg"></a>
          <a><img src="/img/sponsors/miteksystems.png"></a>
        </div>

        <div class="row sponsor-row sponsor-4">
          <a><img src="/img/sponsors/mongodb.png"></a>
          <a><img src="/img/sponsors/namecheap.jpg"></a>
          <a><img src="/img/sponsors/nanotronics.png"></a>
          <a><img src="/img/sponsors/pebble.png"></a>
        </div>

        <div class="row sponsor-row sponsor-4">
          <a><img src="/img/sponsors/pinterest.png"></a>
          <a><img src="/img/sponsors/progress.png"></a>
          <a><img src="/img/sponsors/rackspace.jpg"></a>
          <a><img src="/img/sponsors/realnetworks.jpg"></a>
        </div>

        <div class="row sponsor-row sponsor-4">
          <a><img src="/img/sponsors/red_bull.png"></a>
          <a><img src="/img/sponsors/roc.jpg"></a>
          <a><img src="/img/sponsors/rocketfuel.jpg"></a>
          <a><img src="/img/sponsors/sendgrid.png"></a>
        </div>

        <div class="row sponsor-row sponsor-4">
          <a><img src="/img/sponsors/sequoia_capital.png"></a>
          <a><img src="/img/sponsors/spacex.png"></a>
          <a><img src="/img/sponsors/stickermule.png"></a>
          <a><img src="/img/sponsors/thiel.png"></a>
        </div>

        <div class="row sponsor-row sponsor-4">
          <a><img src="/img/sponsors/tigertext.png"></a>
          <a><img src="/img/sponsors/twilio.png"></a>
          <a><img src="/img/sponsors/venmo.png"></a>
          <a><img src="/img/sponsors/whisper.png"></a>
        </div>

        <div class="row sponsor-row sponsor-4">
          <a><img src="/img/sponsors/wix.png"></a>
          <a><img src="/img/sponsors/wunderground.png"></a>
        </div>


      </div>
    </div>

    <div id="footerSlide" class="slide">
      <div class="container" id="footerContainer">
        <form  id="registerForm" action="/register">
          <button id="registerButton" class="btn btn-reg">REGISTER</button>
        </form>
        <p>Made with <3 by the Hacktech Team</p>
      </div>
    </div>

    <!-- gdbg -->

    <%- include partials/footerFiles.ejs %>    
  </body>
</html>
