<!DOCTYPE html>
<html>
  <head>
    <title>Hacktech</title>
    <meta charset="UTF-8">
    <meta name="description" content="Hacktech 2015 Jan. 29 - Jan. 31">
    <meta name="keywords" content="hacktech, caltech, hackathon">

    <%- include partials/headerFiles.ejs %>


  </head>
  <body>
  	<div id="homeSlide" class="slide">
	  	<div class="container">
        
        <div id="homeContent">
          <img id="homeLogo" src="img/hacktechlogo.png" height="300px">
          
          <div id="homeWords">
            <h1>HACKIEST PLACE ON EARTH</h1>
            <h3>Anaheim Convention Center</h3>
            <h3>January 29 - January 31, 2015</h3>

            <%- include partials/notifyModal.ejs %>

          </div>
          <form  id="updateForm">
            <input type="text" id="registerText" class="form-control" placeholder="swagoverflow@caltech.edu">
            <button id="updateButton" class="btn btn-tech">GET UPDATES</button>
          </form>

          <a href="mailto:contact@hacktech.io" target="_top">Contact us!</a>
        </div>

      </div>
    </div>

    
    <div class="slide">
    </div>
    <div class="slide">
    </div>
    <div class="slide">
    </div>
  
    <%- include partials/footerFiles.ejs %>    
  </body>
</html>
