<!DOCTYPE html>
<html>
  <head>
    <title>Register for Hacktech</title>
    <meta charset="UTF-8">
    <meta name="description" content="Hacktech 2015 Feb. 27 - Mar. 1">
    <meta name="keywords" content="hacktech, caltech, hackathon">

    <%- include partials/headerFiles.ejs %>
    <link rel='stylesheet' href='/css/register.css' />


  </head>
  <body>

    <%- include partials/modal.ejs %>


    <div id="formContainer">
      <form>
        <h6>First Name:*</h6>
        <input type="text" name="firstname" class="form-control registerText required" placeholder="Ruby">
        
        <h6>Last Name:*</h6>
        <input type="text" name="lastname" class="form-control registerText required" placeholder="Rayles">

        <h6>Email:*</h6>
        <input type="text" name="email" class="form-control registerText required" placeholder="swagoverflow@caltech.edu"> <!-- yeah don't even try the email, it doesn't exist. -->
        
        <h6>Age:*</h6>
        <input type="text" name="age" class="form-control registerText required">

        <div class='inline-input'>
        <h6>Grade:*</h6>
        <select name="grade">
          <option disabled selected></option>
          <option value="hs">High School</option>      
          <option value="ug">Undergraduate</option>
          <option value="gr">Graduate</option>
          <option value="other">Other</option>
        </select>
        </div><!--

        --><div class="inline-input">
        <h6 id="formHeadGrade" style="visibility: hidden;">Other:</h6>
        <input type="text" name="gradeother" id="formTextGrade" class="form-control registerText" placeholder="Postdoc, Sponsor, etc" style="visibility: hidden;">
        </div>


        <h6>School/University:*</h6>
        <input type="text" name="school" class="form-control registerText required" placeholder="Caltech">

        <div class="inline-input">
        <h6>Taking the Bus?*</h6>
        <input type="radio" name="busRide" value="yes"> Yep!
        <input type="radio" name="busRide" value="no"> Nah
        </div><!-- 

        --><div class="inline-input">
        <h6 id="formHeadBus" style="visibility: hidden;">Which Bus?</h6>
        <select name="busorigin" id="formSelectBus" style="visibility: hidden;">
          <option disabled selected></option>
          <option value="ucb">UC Berkeley</option>      
          <option value="tech">Caltech</option>
          <option value="ucdav">UC Davis</option>
          <option value="harv">Harvey Mudd</option>
          <option value="uci">UC Irvine</option>
          <option value="ucla">UCLA</option>
          <option value="ucsd">UC San Diego</option>
          <option value="stan">Stanford</option>
          <option value="usc">USC</option>
        </select>
        </div>

        <h6>Link to Your Website:</h6>
        <input type="text" name="personalweb" class="form-control registerText">

        <h6>LinkedIn Profile:</h6>
        <input type="text" name="linkedinweb" class="form-control registerText">

        <h6>Resume:</h6>
        <input type="text" class="form-control registerText">


        <input id="formSubmit" class="btn btn-tech" type="submit" value="Register">
      </form>



    </div>

    <%- include partials/footerFiles.ejs %>

    <script src="/js/form.js"></script>

  </body>
</html>
