<!DOCTYPE html>
<html>
  <head>
    <title>Hacktech</title>
    <meta charset="UTF-8">
    <meta name="description" content="Hacktech 2015 Feb. 27 - Mar. 1">
    <meta name="keywords" content="hacktech, caltech, hackathon">

    <%- include partials/headerFiles.ejs %>


  </head>
  <body>

    <%- include partials/footerFiles.ejs %>    
  </body>
</html>
