body {
	background-color: orange;
}

#formContainer {
	max-width: 400px;
	margin: 70px auto;
	/*padding-bottom: 40px;*/

	text-align: center;

	color: black;
	font-size: 20px;
	
}

.inline-input {
	display: inline-block;
	text-align: left;
	width: 50%;
}

.registerText, select {
	display: inline-block;
	text-align: left;

	/*width: 400px;*/
	width: 100%;
	height: auto;
	margin: auto;

	font-size: 20px;
	
	border-color: #ff9422;
	border-width: 2px;
	background-color: rgba(255, 255, 255, 0.75);
	-webkit-transition: background-color 0.2s;
  	transition: background-color 0.2s;
}

.registerText:hover, .registerText:focus, select:hover, select:focus {
	background-color: white;
	border-color: #FFA647;
}

h6 {
	text-align: left;

	font-size: 20px;
}

.blank, .wrong-email {
	border-color: red;
}

#formSubmit {
	margin-top: 40px;
	font-size: 20px;
	width: 100%;
}