html {
	height: 100%;
}

body {
	/*margin: 0;*/
	/*font-family: "Lato", sans-serif;*/
	font-family: 'Exo 2', sans-serif;
	font-size: 40px;
	color: white;

	height: 100%;
}

a {
	/* Right now this junk is for Contact Us mail link */
	color: white;
	font-size: 20px;
	-webkit-transition: color 0.2s;
  	transition: color 0.2s;
}

a:hover, a:focus {
	color: #d35400; /* Pumpkin! */
  	text-decoration: none;

}

h3 {
	margin-top: 10px;
}

.slide {
	width: 100%;
}

#homeSlide {
	background-image: url('/img/mainstreet_blur_dark.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center bottom;
	
	min-height: 100%;
	padding-top: 50px;
	/*padding-bottom: 100px;*/ /*For big website */
	padding-bottom: 50px; /* temp padding */

}

#homeContent {
	text-align: center;
	display: block;
	/*margin: auto;*/
}

#homeWords {
	padding-bottom: 10px; /* Janky fix for the fact that the Exo 2 font adds 5px of space above itself. */
}

#registerButton {
	padding: 0px 24px 5px 24px; /* Exo 2 font has floaty space above it. This fixes it. */
  	font-size: 36px;
}

.btn-tech {
	background-color: #ff9422;
	color: white;
	-webkit-transition: color 0.2s;
  	transition: color 0.2s;
}

.btn-tech:hover {
	color: #d35400; /* Pumpkin! */
}

.btn-tech:focus {
	color: #d35400; /* Pumpkin! */	
}

#updateButton {
	font-size: 20px;
	width: 400px;
	-webkit-transition: border-color 0.2s;
  	transition: border-color 0.2s;
	-webkit-transition: color 0.2s;
  	transition: color 0.2s;

}

#updateButton:hover {
	border-color: #d35400; /* Pumpkin! */
}

#registerText {
	width: 400px;
	height: auto;
	margin: auto;

	font-size: 20px;
	
	border-color: #ff9422;
	border-width: 2px;
	background-color: rgba(255, 255, 255, 0.85);
	-webkit-transition: background-color 0.2s;
  	transition: background-color 0.2s;
}

#registerText:hover {
	background-color: white;
	border-color: #FFA647;
}

#registerText:focus {
	background-color: white;
	border-color: #FFA647;
}

#homeBanner {
	width: 100%;
}
