html {
	height: 100%;
}

body {
	/*margin: 0;*/
	/*font-family: "Lato", sans-serif;*/
	font-family: 'Exo 2', sans-serif;
	font-size: 40px;
	color: white;

	height: 100%;
}

p {
	font-size: 20px;
	margin: 0px;
}

a {
	/* Right now this junk is for Contact Us mail link */
	color: white;
	font-size: 20px;
	-webkit-transition: color 0.2s;
  	transition: color 0.2s;
}

a:hover, a:focus {
	color: #d35400; /* Pumpkin! */
  	text-decoration: none;
}

h1 {
	margin-bottom: 5px;
	/*text-shadow: 2px 2px black;*/ /* Kinda cool. Maybe not the design I'm going for tho */

}

h3 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;

	/*text-shadow: 2px 2px black;*/
}

.btn-tech {
	background-color: #ff9422;
	color: white;
	-webkit-transition: color 0.2s;
  	transition: color 0.2s;
}

.btn-tech:hover, .btn-tech:focus {
	color: #d35400; /* Pumpkin! */
}

.slide-title {
	text-align: center;
	font-size: 50px;
	margin-bottom: 30px;
	margin-top: 0px;
}

.slide {
	width: 100%;
}


/***************** HOME SLIDE THINGS *******************/
#homeSlide {
	background-image: url('/img/mainstreet_blur_dark.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center bottom;
	
	min-height: 100%;
	padding-top: 50px;
	
	position: relative; 	/* For banner */
	padding-bottom: 200px; 	/* For banner */
	/*padding-bottom: 100px;*/ /*For big website */
	/*padding-bottom: 50px;*/ /* temp padding */



}

#homeContent {
	text-align: center;
	display: block;
	/*margin: auto;*/
}

#homeLogo {
	/* For the old logo */
	height: 300px;

	/* Stuff for new logo */
	/*height: 200px;
	position: relative;
	left: -50px;*/
}

#homeWords {
	padding-bottom: 15px; /* Janky fix for the fact that the Exo 2 font adds 5px of space above itself. */
}

#registerButton {
	padding: 0px 24px 5px 24px; /* Exo 2 font has floaty space above it. This fixes it. */
  	font-size: 36px;

	width: 300px;

	border-width: 2px;

	-webkit-transition: color 0.2s, border-color 0.2s;
  	transition: color 0.2s, border-color 0.2s;

}

#registerButton:hover, #registerButton:focus {
		border-color: #d35400; /* Pumpkin! */
}


/*#updateButton {
	font-size: 20px;
	width: 400px;
	-webkit-transition: border-color 0.2s;
  	transition: border-color 0.2s;
	-webkit-transition: color 0.2s;
  	transition: color 0.2s;

}
*/
#updateButton:hover {
	border-color: #d35400; /* Pumpkin! */
}

/* Delete this later. I'm moving this over to register.css. */
/*#registerText {
	width: 400px;
	height: auto;
	margin: auto;

	font-size: 20px;
	
	border-color: #ff9422;
	border-width: 2px;
	background-color: rgba(255, 255, 255, 0.85);
	-webkit-transition: background-color 0.2s;
  	transition: background-color 0.2s;
}

#registerText:hover, #registerText:focus {
	background-color: white;
	border-color: #FFA647;
}
*/
#homeBanner {
	width: 100%;

	position: absolute;
	bottom: -2px;
}



/***************** WHAT SLIDE THINGS *******************/
#whatSlide {
	color: black;
}

#whatContent {
	max-width: 700px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	
}


/***************** PLACE SLIDE THINGS *******************/
#placeSlide {
	/*background-image: url('/img/disneyland_castle_blur.jpg');*/
	background-image: url('/img/anaheim_convention_center2_blur.jpg');

	background-size: cover;
	background-attachment: fixed;
	background-position: center bottom;

	min-height: 500px;
}

#placeContainer {
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 0px;
	padding-right: 0px;

	text-shadow: 2px 2px black;

}

.place-stat {
	width: 33.333%;
	display: inline-block;
	text-align: center;
	vertical-align: top;

}


/***************** FAQ SLIDE THINGS *******************/
#faqSlide {
	color: black;
}

#faqContainer {
	padding-top: 40px;
	padding-bottom: 40px;
}

.faqModule {
	padding: 10px;

	/*margin: 20px;*/
}

.faqQuest {
	font-size: 18px;
	font-weight: bold;
}

.faqAnswer {
	font-size: 14px;
}

/***************** LOGISTIC SLIDE THINGS *******************/
#logisticSlide {
	color: white;
	background-image: url('/img/atHacktech_dark_blur.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center bottom;

	/*height: 400px;*/

}

#logisticContainer {
	padding-top: 40px;
	padding-bottom: 40px;

	text-align: center;
}

.at-element {
	display: inline-block;
	padding: 10px;
	margin: 3px;
	width: 200px;
	height: 220px;

	border: 7px solid;
	border-radius: 10px;

	/*-webkit-filter: blur(3px);*/
	/*background-color: rgba(255, 255, 255, 0.4);*/
	background-color: rgba(0, 0, 0, 0.2);

}

.at-icon {
	display: block;
	margin: auto;
	height: 150px;
	width: 150px;
}

.at-element-color, .at-element-color * {
	fill: white;
	color: white;
	border-color: white;
	/* Note to self: Not the best idea to manipulate border-color for elements
	that don't have a border, but this works and I'm going for clarity 
	not accuracy. */
	-webkit-transition: fill 0.2s, color 0.2s, border-color 0.2s;
  	transition: fill 0.2s, color 0.2s, border-color 0.2s;
}

.at-element-color:hover, .at-element-color:hover * {
	color: #F5841F;
	border-color: #F5841F;
	fill: #F5841F;
}


/***************** FAMOUS SLIDE THINGS *******************/
#famousSlide {
	color: white;
	background-color: #F5841F;

}

#famousContainer {
	padding-top: 40px;
	padding-bottom: 40px;

	text-align: center;

}

.famous-element {
	display: inline-block;
	vertical-align: top;

	margin: 20px 0px;

	min-width: 250px;

}

.famous-portrait {
	margin: auto;

	width: 150px;
	height: 150px;

	border-radius: 50%;
	background-size: cover;
}

.famous-words {
	margin: 10px 0px;
}

h4 { /* For names */
	font-size: 28px;
	font-weight: bold;

	margin: 0px;
}

h5 { /* For descriptions */
	font-size: 18px;
}

#famousSpiegel {
	background-image: url(/img/famous_spiegel.jpg);
	background-position: 50%;

}

#famousGlover {
	background-image: url(/img/famous_glover.jpg);	
}

#famousOhanian {
	background-image: url(/img/famous_ohanian.jpg);

}

#famousRad {
	background-image: url(/img/famous_rad.jpg);
	background-position: 70%;	
}

#famousDupri {
	background-image: url(/img/famous_dupri.jpg);
	background-position: right;
}

#famousHeyward {
	background-image: url(/img/famous_heyward.jpg);
	background-position: right;
}




/***************** REGISTER SLIDE THINGS *******************/
#registerSlide {
	height: 500px;

	color: black;
	background-color: black;
}

#registerContainer {
	height: 100%;
	padding-top: 40px;
	padding-bottom: 40px;

	text-align: center;
}

#registerForm {
	position: relative;
	/* put at top of slideshow */
	/*top: 100%;*/
	/* Or thd middle */
	top: -80%;
	/* Or the bottom */
	/*top: -50%;*/

	z-index: 1;
}

.btn-reg {
	color: #F5841F;
	border-color: #F5841F;
	/* Which one looks better? */
	/*background-color: rgba(0, 0, 0, 0.2);*/
	background-color: rgba(255, 255, 255, 0.4);

}

.btn-reg:hover, .btn-reg:focus {
	color: #d35400; /* Pumpkin! */

}

.slideshow {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0;
}

.slideshow li span {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-animation: imageAnimation 36s linear infinite 0s; 
    animation: imageAnimation 36s linear infinite 0s; 

}



.slideshow li:nth-child(1) span { 
    background-image: url(/img/slideshow/1.jpg) 
}
.slideshow li:nth-child(2) span { 
    background-image: url(/img/slideshow/2.jpg);
    -webkit-animation-delay: 6s; 
    animation-delay: 6s; 
}
.slideshow li:nth-child(3) span { 
    background-image: url(/img/slideshow/3.jpg);
    -webkit-animation-delay: 12s; 
    animation-delay: 12s; 
}
.slideshow li:nth-child(4) span { 
    background-image: url(/img/slideshow/4.jpg);
    -webkit-animation-delay: 18s; 
    animation-delay: 18s; 
}
.slideshow li:nth-child(5) span { 
    background-image: url(/img/slideshow/5.jpg);
    -webkit-animation-delay: 24s; 
    animation-delay: 24s; 
}
.slideshow li:nth-child(6) span { 
    background-image: url(/img/slideshow/6.jpg);
    -webkit-animation-delay: 30s; 
    animation-delay: 30s;
}

@-webkit-keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}




/***************** SPONSOR SLIDE THINGS *******************/
#sponsorSlide {
	color: black;
}

#sponsorContainer {
	padding-top: 40px;
	padding-bottom: 40px;
}

#sponsorHeader {
	font-size: 20px;
	text-align: center;
}	

#sponsorMail {
	color: black;
	-webkit-transition: color 0.2s;
  	transition: color 0.2s;
}

#sponsorMail:hover, #sponsorMail:focus {
	color: #d35400; /* Pumpkin! */
  	text-decoration: none;
}

.sponsor-row {
	width: 100%;
	text-align: center;
}

.sponsor-1 {
	height: 125px;

	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);

	/*display: inline-block;*/
}

.sponsor-2 {
	height: 100px;

	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);

	/*display: inline-block;*/

}

.sponsor-3 {
	height: 75px;

	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);

	/*display: inline-block;*/

}

.sponsor-4 {
	height: 50px;

	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);

	/*display: inline-block;*/

}
